{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}

<div class="card mb-3 card__style--full">
 
<div class="card-body">
<h5 class="card-title">{{ recipe.title }}</h5>
<img class="img__style--full"src="{{ recipe.image }}">

<p class="setup--time"> Temps de préparation : {{recipe.setuptime}} min</p>
<p class="tools--style">Ustensiles:
{% for tool in recipe.recipetools %}
{{tool.name}} /
{% endfor %}
</p>

<h2 class="title--full">Ingrédients</h2>
{% for ingr in recipe.recipeingredient %}
<p class="card-text">
<li>{{ ingr.name }} : {{ ingr.quantity}} {{ ingr.unit}}</li>
</p>
{% endfor %}

<h2 class="title--full">Étapes</h2>
{% for stp in recipe.steps %}
<p class="card-text">
<li class="step__style">{{ stp.description}}</li>
</p>
{% endfor %}


   
  </div>
</div>

{% endblock %}
